<%= form_with(model: entity_role, local: true) do |form| %>
  <% if entity_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity_role.errors.count, "error") %> prohibited this entity_role from being saved:</h2>

      <ul>
      <% entity_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :entity_id %>
    <%= form.number_field :entity_id %>
  </div>

  <div class="field">
    <%= form.label :notice_id %>
    <%= form.number_field :notice_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
